#main-div {
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}
body {
    background-image: url("../imgs/bg5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 60em;
}

#emp-reports {
    background-color: aliceblue;
    min-height: 20em;
}

.tab-content {
    background-color: white;
}

.active-tab {
    background-color: white;
    color: black;
    font-weight: bold;
}

.active-tab:hover {
    background-color: lightblue;
    color: black;
}

.request {
    border: 1px solid lightblue;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color:  rgba(242, 244, 245, 0.3);;
}

.request label {
    font-weight: bold;
}

.request span {
    
    margin-left: 1em;
}

#requests {
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 30em;
}