body{
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

#emp-reports {
    background-color: aliceblue;
}

.tab-content {
    background-color: white;
}

.active-tab {
    background-color: white;
    color: black;
    font-weight: bold;
}

.active-tab:hover {
    background-color: lightblue;
    color: black;
}

.request {
    border: 1px solid lightblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.request label {
    font-weight: bold;
}

.request span {
    
    margin-left: 1em;
}