#main {
    max-width: 70%;
}

body {
    background-image: url("../imgs/bg5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tab-content {
    background-color: white;
    padding: 2em;
}

.active-tab {
    background-color: white;
    color: black;
    font-weight: bold;
}

.active-tab:hover {
    background-color: lightblue;
    color: black;
}

.info span {
    margin-left: 3em;
}

label {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(228, 255, 255);
}

span {
    font-size: large;
}

.card {
    background-color: rgba(242, 244, 245, 0.5);
    border-radius: 0%;
}

.card-header {
    background-color: rgb(0, 74, 110);
}