.container {
    background-color: rgba(242, 244, 245, 0.4);
    padding: 20px;
}

body {
    background-image: url("../imgs/bg5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: teal;
}

#anchor {
    color: lightblue;
    font-style: italic;
}