.container {
    background:rgba(255, 255, 255, 0.8);
    border-radius: .5em;
    padding: 20px;
}

body {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

label {
    font-weight: bold;
    background-image: radial-gradient( circle 465px at -15.1% -25%,  rgba(17,130,193,1) 0%, rgba(67,166,238,1) 49%, rgba(126,203,244,1) 90.2% );    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#anchor {
    font-style: italic;
}

h1 {
    color: white;
}

.icon {
    background-color: #007BFF;
    padding-top: .65em;
}
